<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/password.css">
    <link rel="stylesheet" href="css/base.css">
    <script src="https://kit.fontawesome.com/998241e7ce.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="js/register.js"></script>
    <title>Password Reset</title>
</head>
<body>
    <div class="container">
        <form id="resetForm" class="reset-form" action="/" method="post">
            <h2>Password Reset</h2>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Reset Password</button>
            <p id="confirmation" class="hidden">Reset email has been sent. Please check your inbox.</p>
        </form>
    </div>
</body>
</html>
